<div [formGroup]="parent">
  <mat-button-toggle-group multiple>
    <mat-button-toggle *ngFor="let answer of answers" [value]="answer" [checked]="answer.selected" (change)="change($event)">{{answer.answer}}</mat-button-toggle>
  </mat-button-toggle-group>
  <!-- nothing needed but nice to know how to handle this within the formArray directly -->
  <!-- <div formArrayName="answers">
    <div *ngFor="let answer of parent.get('answers').controls; let i=index" [formGroupName]="i">
      <input class="form-control" formControlName="answer"> {{answer}}
    </div>
  </div> -->
  <br/>
  <mat-button-toggle-group multiple>
    <mat-button-toggle *ngFor="let answer of formArray.value" [value]="answer" [checked]="answer.selected" (change)="answer.selected = !answer.selected">{{answer.name}}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<button (click)="printFormArray()">print</button>
<button (click)="formArray.reset()">reset</button>